[user]
	name = David Molinero
	email = doktor500@users.noreply.github.com
[core]
 	pager = delta
[color]
	ui = true
[help]
	autocorrect = 1
[pull]
	ff = only
[merge]
	ff = only
	log = true
[push]
	default = current
	autoSetupRemote = true
[checkout]
	defaultRemote = origin
[diff-so-fancy]
	markEmptyLines = false
[interactive]
	diffFilter = delta --color-only
[rerere]
	enabled = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[branch "main"]
	remote = origin
	merge = refs/heads/main
[branch "master"]
	remote = origin
	merge = refs/heads/master
[delta]
	line-numbers = true
	side-by-side = true
	features = theme
[delta]
	features = theme
[delta "theme"]
	line-numbers = true
	side-by-side = true
	syntax-theme = Monokai Extended
	hunk-header-style = omit
	minus-style = syntax "#4C2F40"
	minus-emph-style = syntax bold "#80002a"
	plus-style = syntax "#2B4C48"
	plus-emph-style = syntax bold "#007e5e"
	file-added-label = [+]
	file-modified-label = [●]
	file-removed-label = [⛌]
	file-renamed-label = [→]
